<span class="message" > As of October 2020 I am open to full time W2 or W2/1099 Contract/contract-to-hire to Hire positions as well as 
	freelancing opportunities. Contact me at chrismendla@gmail.com </span>