<h1>My professional goals are:</h1>

<p>To solve IT challenges using my diverse knowledge and experience in Information Technology Systems, Databases, 
	Development Tools along with Project Management and IT Management Skills. </p> 
