<h1>My professional goals are:</h1>

<ul>
	<li>To solve IT challenges using my diverse knowledge and experience in Information Technology Systems, Databases, 
	Development Tools along with Project Management and IT Management Skills. </li>
	<li>To continue to build my knowledge and skills.</li>
	<li>To excel in a challenging environment.</li>
 </ul>
