<h1>Christopher G. Mendla</h1>

<p>This is the personal/professional  site of Christopher G. Mendla from Southampton, PA.</p>

<p>I am a technology professional, manager and educator who is currently working as a full stack web developer converting manufacturing applications 
	from Lotus Notes/Domino to Ruby on Rails running on Microsoft SQL Server and IIS.  You can find links to my professional web presence as well as some of my personal web presence. 
	My goals, resume and bio are under the resume/bio tab	</p>



