
<h1>My Resumes</h1><br>
<p>Copies of my resume are available in .docx and .pdf format via the links below. The resumes were last updated on 2/4/2018. For a current resume, contact me at chrismendla at gmail dot com.
	
	
<h2>Full Stack Web Developer</h2>
	
<ul>
	<li>
		<%= link_to "Web Developer PDF", '/documents/FullStackWebDeveloper.pdf', target: '_blank' %> - Resume as of 9/28/17 in pdf format. This
		resume is targeted toward Full Stack Web Developer Postions. 
	</li>
<h2>Full Stack Web Developer</h2>		
	<li>
		<%= link_to "IT Manager / IT Director / Project Manager PDF", '/documents/ITManager.pdf', target: '_blank' %> - Resume as of 9/28/17 in pdf format.
		This resume is targeted toward IT Management, It Director and IT Project Management Postions. 	
	</li>
</ul>	
