
<h1>My Resumes</h1><br>
<p>Copies of my resume are available in .docx and .pdf format via the links below. The resumes were last updated on 2/4/2018. For a current resume, contact me at chrismendla at gmail dot com.
	
	
<h2>Full Stack Ruby on Rails Developer</h2>
	
<ul>
	<li>
		<%= link_to "Ruby on Rails Developer PDF", '/documents/ChristopherMendlaRubyonRailsDeveloperResume.PDF', target: '_blank' %>
		- Resume as of 10/12/20 in pdf format.
	</li>
	<li>
	<%= link_to "Ruby on Rails Developer WORD", '/documents/ChristopherMendlaRubyonRailsDeveloperResume.DOCX', target: '_blank' %>
	- Resume as of 10/12/20 in Word format.
	</li>
</ul>	

