
<h1>My Resumes</h1><br>
<p>Copies of my resume are available in .docx and .pdf format via the links below. 
<ul>
	<li><%= link_to "Web Developer Word", '/documents/20160325ChristopherMendla_web.docx' %> - Resume as of 3/25/2016 in docx format</li>
	<li><%= link_to "Web Developer PDF", '/documents/20160325ChristopherMendla_web.pdf', target: '_blank' %> - Resume as of 3/25/2016 in pdf format </li>
</ul>	
