
<h1>My Resumes</h1><br>
<p>Copies of my resume are available in .docx and .pdf format via the links below. 
The resumes were last updated on 10/12/2020. For a current resume, contact me at 
chrismendla at gmail dot com.
	
	
<h2>Full Stack Ruby on Rails Developer</h2>
	
<ul>
	<li>
		<%= link_to "Download PDF", '/documents/ChristopherMendlaRubyonRailsDeveloperResume.PDF', 
		:download => 'ChrisMendlaResume.PDF' %>
	</li>
	<li>
		<%= link_to "Download DOCX (Word)", '/documents/ChristopherMendlaRubyonRailsDeveloperResume.DOCX', 
		:download => 'ChrisMendlaResume.DOCX' %>
	</li>

</ul>	

