
<h1>My Resumes</h1><br>
<p>Copies of my resume are available in .docx and .pdf format via the links below. 
<ul>
	<li><%= link_to "Web Developer Word", '/documents/Christopher_Mendla_2017-08-08-b.docx' %> - Resume as of 8/10/2017 in docx format</li>
	<li><%= link_to "Web Developer PDF", '/documents/Christopher_Mendla_2017-08-08-b.pdf', target: '_blank' %> - Resume as of 8/10/2017 in pdf format </li>
</ul>	
