<h1>Portfolio:</h1>
	
<ul>
<li><strong><%= link_to "christopherg.mendla.com", 'http://christopherg.mendla.com'%> </strong>
	This site (christopherg.mendla.com) is a Ruby 2.6.5 / rails 5.1.4 site </li>
	<br>
	<strong> Overview: </strong>
	<ul>
		<li>Hosted on Digital Ocean running Ubuntu/Postgres. Created and configured the Ubuntu/Rails droplet</li>
		<li>Edited with Visual Studio</li>
		<li>Custom template created using Nicepage</li>
		<li>Version control: GitHub</li>
	</ul>
	<Strong>Current TODO list</strong>
	<ul>
		<li>Run Rubocop and correct issues</li>
		<li>Update gems (bundle update)</li>
		<li>Create rspec tests</li>
		<li>Make the Repo public</li>
		<li>Tweak the header layout</li>
		<li>Update to rails 5.1.5 and to continue updates to the current version</li>
	</ul>
<li>
	<Strong><%= link_to "ChrisMendlaTech.com", 'http://www.chrismendlatech.com', target: :_blank %></strong>
		This is my WordPress blog about technology</li>
		<ul>
			<li>Custom template created with Artisteer</li>
			<li>Plugins implemented:</li>
				<ul>
				  <li>Site Backups </li>
				  <li>Wordfence security tools </li>
				  <li>Comment spam control</li>
				  <li>Ninja Forms for visitor input</li>
				  <li>Custom 404 Pages </li>
				  <li>Adsense ad integration </li>
				  <li>Redirection - Keep search engine rankings when changing your site </li>
				  <li>Relevanssi - An enhanced search tool for your site </li>
				  <li>Sassy Social Share - Add social sharing buttons to your site and posts </li>
				  <li>Yoast SEO - T assist in creating search engine friendly pages  </li>
				</ul>
				
		</ul>	
	<li><strong><%= link_to "ChrisMendlasCorner.com", 'http://www.chrismendlascorner.com', target: '_blank'%></strong> A WordPress site with the
		same features as ChrisMendlaTech.com listed above</li>
	<li><strong><%= link_to "LbiViews.Com", 'http://www.lbiviews.com', target: '_blank'%></strong> A WordPress site about Long Beach Island, New Jersey
		with the same features as ChrisMendlaTech.com listed above.</li>


</ul>