<h1>Portfolios</h1>
	
<ul>
<li><strong><%= link_to "christopherg.mendla.com", 'http://christopherg.mendla.com'%> </strong>
	This site (christopherg.mendla.com) is a Ruby 2.x / rails 4.x site </li>
	<ul>
		<li>Hosted on Digital Ocean running Ubuntu/Postgres</li>
		<li>Created using Aptana as the IDE</li>
		<li>Custom template created using Artisteer</li>
	</ul>
</ul>	
<li><strong><%= link_to "Bristol and Taylor Garage", 'http://bristolandtaylorgarage.com', target: '_blank'%></strong> A Joomla 3.x site.</li>
