<h3>Work Experience:</h3>
	<p>See my current resume for details </p>
	
	<h4>Obsidian Global LLC - Ruby on Rails Developer</h4>
	<p> Developed and maintained applications for the the United States Customs and Immigration Service
	in a 100 percent remote agile enviornment. Managed an average of four applications. Responsible for 
	maintaining the applications, monitoring security and adding/revising features </p>
	
	<h4>Holman Automotive - Ruby on Rails Developer</h4>
	<p>Created and maintained internal and external Ruby on Rails sites. The stack included 
	Heroku and Aws in a Rails 3.x environment using Active Admin. Agile environment with 
	team members in rempte locations</p>

	<h4>CCT Tapes - Full Stack Ruby on Rails Developer</h4>
	<p>Migrated internal legacy Notes/Dominos applications to Ruby on Rails running on IIS.
	Applications are integrated with Active Directory for authentication and permissions. 
	Applications use Microsoft SQL server (Schema prefixes allow multiple applications on
	the same database). Applications support ISO 9001:2008 and 17025:2005 requirements. Trained
	end users. General support to the IT department as needed</h4>

	<h4>Holy Family College, Director of Information Systems</h4> 
	<p>Responsible for all administrative and academic computing and telecommunications. Managed 
	a staff of 12 employees and a major upgrade of all network infrastructure including a 
	new datacenter, Wan teleconferencing, and Y2k remediation of our legacy Cobol system</p>
		
	<h4>Peirce College, Manager of Distance Education</h4> 
	<p> Launched a Distance Education Program using the eCollege platform. Oversaw conversion of 
	courses from brick and mortar to online </p>
		
	<h4>CGM Systems, Inc. Computer Consultant, Web Designer</h4>
	<p>Provided a full range of IT services to multiple clients including web design, SEO, server
	maintenance, networking and training </p>

	 <h4>Naval Inventory Control Point – Various Positions</h4> 
	 <p> Logistician and application developer </p>
	 
	<h4>Teaching Experience</h4>
	<p>I taught as an adjunct at several colleges. Course included: Face to Face and online
	100 level intro courses through 500 level graduate courses.</p>
</ul>


<h3>Education:</h3>
<ul>
	<li><strong>Drexel University</strong> – Advanced Professional Certificate in Quantitative Analysis as part of a Fellowship from the Naval Inventory Control Point. 27 graduate level Credits</li>
	<li><strong>La Salle University</strong>, MBA in Management Information Systems</li>
	<li><strong>La Salle University</strong>, BS in Management and Marketing</li>
</ul>