
<h3>Education:</h3>
<hr>
<ul>
<li><strong>Drexel University</strong> – Advanced Professional Certificate in Quantitative Analysis as part of a Fellowship from the Naval Inventory Control Point. 27 graduate level Credits</li>
<li><strong>La Salle University</strong>, MBA in Management Information Systems</li>
<li><strong>La Salle University</strong>, BS in Management and Marketing</li>
</ul>