<h3>Work Experience:</h3>
<hr>
<ul>
	<li> <strong>CCT Tapes - Full Stack Web Developer </strong> 2015- present</li>
	<ul>
		<li>Migrating internal legacy Notes/Dominos applications to Ruby on rails running on IIS</li>
		<li>Applications are integrated with Active Directory for authentication and permissions </li>
		<li>Applications use Microsoft SQL server (Schema prefixes allow multiple applications on the same database) </li>
		<li>Some applications support ISO 9001:2008 and 17025:2005 requirements</li> 
		<li>Train end users </li>
		<li>General support to the IT department as needed</li>
	</ul> 	
	
	<li> <strong>Holy Family College, Director of Information Systems</strong>1997 – 2000</li> 
	<ul>
		<li>Responsible for all administrative and academic computing</li>
		<li>Managed a staff of 12 employees </li>
		<li>Managed a major upgrade of all network infrastructure including a new datacenter, Wan teleconferencing, and Y2k remediation of 
			our legacy Cobol system</li>
		<li>Responsible for all network aspects including security </li>	
	</ul>	
	<li> <strong>Peirce College, Manager of Distance Education</strong>2000-2001</li> 
	<ul>
		<li>Launched a Distance Education Program using the eCollege platform</li>
		<li>Oversaw conversion of courses from brick and mortar to online </li>
		<li>Integrated existing administrative and academic applications into the online system </li>
	</ul>	
	<li> <strong>Computer Consultant, Web Designer.</strong>1988 to 2015 </li>
	<ul>
		<li>Developed websites in Joomla and Wordpress for clients </li>
		<li>Maintained all aspects of IT for several clients </li>
	</ul> 
 	<li> <strong>Naval Inventory Control Point – Various Positions</strong>1980 – 1997</li> 
	<li> <strong>Teaching Experience</strong> – I taught as an adjunct at several colleges. Course included: Face to Face and online
	100 level intro courses through 500 level graduate courses.</li> 
</ul>


<h3>Education:</h3>
<hr>
<ul>
<li><strong>Drexel University</strong> – Advanced Professional Certificate in Quantitative Analysis as part of a Fellowship from the Naval Inventory Control Point. 27 graduate level Credits</li>
<li><strong>La Salle University</strong>, MBA in Management Information Systems</li>
<li><strong>La Salle University</strong>, BS in Management and Marketing</li>
</ul>