


<h3>Skills:</h3>
<h4>Internet/Web Design:</h4>
<ul>
	<li>Ruby on Rails: Rails 3.x/4.x/5x, Ruby 2.x </li>
	<li>Sidekiq,Redis</li>
	<li>Javascript, Jquery, Ajax</li>
	<li>Git, Github, GitHub Enterprise</li>
	<li>Jenkins, Cloud Foundry, Postgres </li>
	<li>Microsoft IIS</li>
	<li>Microsoft SQL Server </li>
	<li>VS Code, Aptana, Netbeans and Rubymine (Ruby IDEs) </li>
	<li>Ubuntu, Unicorn, Postgres, Nginx, Sendgrid</li>
	<li>Php, MySql, PHPMyAdmin</li>
	<li>HTML/CSS</li>
	<li>Search Engine Optimization</li>
	<li>Remediation of hacked sites</li>
	<li>AWS</li>
	<li>Heroku</li>
	<li>WordPress</li>
	<li>Search Engine Optimization</li>
	<li>Google Analytics, Bing and Google search consoles</li>
</ul>

<h4>Computer Support:</h4>
<ul>
	<li>Server 2003 – 2012 including configuration and installation</li>
	<li>Office 365</li>
	<li>Disaster Prevention</li>
	<li>Hardware/Software Support</li>
	<li>Symantec Endpoint Protection</li>
	<li>Active Directory and Group Policy </li>
</ul>


<h4>Interpersonal and Management:</h4>
<ul>
	<li>Excellent interpersonal and communications skills</li>
	<li>Ability to see the 'big picture' while paying attention to details</li>
	<li>Excellent time management and organizational skills</li>	
</ul>
