


<h3>Skills:</h3>
<hr>
<h4>Internet/Web Design:</h4>
<ul>
	<li>Ruby on Rails: Rails 4.x, Rails 2.x </li>
	<li>Javascript, Jquery</li>
	<li>Microsoft IIS</li>
	<li>Microsoft SQL Server </li>
	<li>Sage CRM</li>
	<li>Git</li>
	<li>Aptana and Rubymine (Ruby IDEs) </li>
	<li>Ubuntu, Unicorn, Postgres, Nginx, Sendgrid</li>
	<li>Web Design</li>
	<li>Joomla and WordPress</li>
	<li>Php, MySql, PHPMyAdmin</li>
	<li>HTML/CSS</li>
	<li>Search Engine Optimization</li>
	<li>Remediation of hacked sites</li>
</ul>

<h4>Computer Support:</h4>
<hr>
<ul>
	<li>Server 2003 – 2012 including configuration and installation</li>
	<li>Office 365</li>
	<li>Disaster Prevention</li>
	<li>Hardware/Software Support</li>
	<li>Symantec Corporate Antivirus</li>
	<li>Active Directory and Group Policy </li>
</ul>
